extend index.pug
 
block content
  h1 About The Bakery
  img.logo(src="../img/logo.png" alt="logo")
  
  h4 Baking your ideas to life
  
  p
    I am a person who loves baking things and have a rich history of life experiences where I did a bunch of cool stuff
  
