extend index.pug
 
block content
  
  img.logo(src="https://www.thredbo.com.au/wp-content/uploads/2012/06/TheBakery_logo.png" alt="logo")
  
  h1 About The Bakery
  h3 ~ Baking your ideas to life ~
  
  - let today = new Date()
  p.todate Today - #{today} - we have no food left
  p I am a person who loves baking things and have a rich history of life experiences where I did a bunch of cool stuff
  
