doctype html
html
  head
    title pug demo
    include stylesheets.pug
  body
    
    block content 
      img.logo(src="https://www.thredbo.com.au/wp-content/uploads/2012/06/TheBakery_logo.png" alt="logo")
      
      p We have 6 neighborhood bakery-cafés in California, each offering our tried-and-true Boudin classics - like our signature clam chowder in a breadbowl. We also sell our assortment of fresh baked breads crafted in the Boudin tradition: our iconic San Francisco sourdough French bread, European hearth breads, harvest breads, and sweet (non-sourdough) breads. Eat in, take out, or ask to see our catering menu!
      
      img.store(src="http://villagebakeries.com/wp-content/uploads/2012/11/village-bakery-home-retail.jpg" alt="store")




    .footer-nav 
      //- condition class using object mapping
      //- a.foot-nav(class={active: loggedIn == true} href'/') Logout
      //- a.foot-nav(class={active: loggedIn == false} href'/') Login/Register

      if loggedIn
        a.foot-nav(class=active href='/') Logout
      else 
        a.foot-nav(class=active href='/') Login/Register
